<html>
    <head>
    <title>email created with Symfony</title>
    <style>
        body{
            background:#ccc;
        }
    </style>
    </head>
    <body>
        <h1>Symfony title</h1>
        <p>email with symfony</p>
    </body>
</html>